@* @{ *@
@* 	string status = TempData["Status"]?.ToString() ?? "fail"; *@
@* 	string content = TempData["Content"]?.ToString() ?? ""; *@

@* 	string color = status == Helper.SetupNotifier.success ? "color-tree" : "text-danger"; *@
@* 	string title = status == Helper.SetupNotifier.success ? "thành công" : "thất bại"; *@
@* 	string display = content.Length > 0 ? "" : "d-none"; *@
@* 	TempData["Content"] = ""; *@
@* } *@

@* <section class="notifier w-100 text-center mb-0 @display"> *@
@* 	<div class="bg-white py-2"> *@
@* 		<h5 class="@color" style="text-transform: uppercase;">@title</h5> *@
@* 		<p class="mt-1">@content</p> *@
@* 	</div> *@
@* </section> *@