

<section class="module_back">
	<div class="container d-flex justify-content-between py-2 mt-2">
		<a href="javascript:history.back(-1);" class="btn_back d-flex gap-2 align-items-center">
			<i class="fa-solid fa-backward"></i>
			Trở về
		</a>									
											  
		<select class="select_ex_co green_effect">
			<option selected value="ex">Mở rộng</option>
			<option value="co">Thu gọn</option>
		</select>
	</div>
</section>
