

<section class="hero-area">
    <div class="hero-post-slides owl-carousel">
        @{
            int loop = 10;
            string pathImg = "";

            for (int i = 1; i <= loop; i++)
            {
                pathImg = $"background-image: url('img/bg-img/{i}.jpg');";

                <!-- Item Single hero post -->
                <div class="single-hero-post bg-overlay">
                    <!-- Post Image -->
                    <div class="slide-img bg-img" style="@pathImg"></div>
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-12">
                                <!-- Post Content -->
                                <div class="hero-slides-content text-center">
                                    <h2>Thực vật tồn tại trong thời tiết và các tia sáng bao quanh chúng</h2>
                                    <p>
                                        Cây cối không chỉ thích nghi với sự thay đổi của thời tiết mà còn phản ứng linh hoạt với
                                        ánh sáng môi trường. Nhờ vào quá trình quang hợp, chúng hấp thụ năng lượng mặt trời để
                                        sinh trưởng và phát triển, đồng thời góp phần điều hòa không khí và tạo nên không gian
                                        xanh mát.
                                    </p>
                                    <div class="welcome-btn-group">
                                        <a href="#" class="btn alazea-btn">XEM THÊM</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</section>