<section class="individuals">
    <div class="container">
        <div class="box bg-white mb-2">
            <div class="toggle_title text-center mt-1 mb-2">
                <h5 class="border py-2 bg-black text-white">Các cá thể đo đạc</h5>
            </div>

            <div class="info morphology_info">
                <p class="p-2 text-justify">@Html.Raw(Helper.Func.Show(Model.Morphology))</p>
            </div>
        </div>
    </div>
</section>