

<div id="click_show_image" class="d-none">
	<div class="box_show">
		<img src="" />
	</div>

	<div class="frame_close d-flex justify-content-center align-items-center">
		<button class="btn_close" onclick="_btnClose();">Đóng</button>
	</div>
</div>