

<header id="header" class="bg-black">
	<div class="container d-flex justify-content-between align-items-center h-100">
		<div class="logo_title">
			<a href="~/">
				<i class="fa-solid fa-leaf color-tree"></i>
				<span class="ml-7 hidden_mobile text-white">CÂY NGẬP MẶN</span>
			</a>
		</div>

		<div class="action_option d-flex gap-2 h-100">
			<!-- Search Icon -->
			<div id="searchIcon" class="d-flex justify-content-center m-0">
				<button class="nav_btn_option">
					<i class="icon-x d-none fa-solid fa-xmark color-tree" style="font-size: 14px;"></i>
					<i class="icon-s fa fa-search color-tree"></i>
					<span class="ml-7">Tìm kiếm</span>
				</button>
			</div>

			<!-- Language -->
			<div class="language text-white position-relative">
				<button class="nav_btn_option btn_language">
					<i class="fa-solid fa-language color-tree"></i>
					<span class="ml-7">
						Ngôn ngữ
						<i class="fa-solid fa-caret-down" style="margin-left: 3px;"></i>
					</span>
				</button>
				<ul class="language_dropdown rounded-1 d-none">
					<li class="p-2" data-value="en">Tiếng Anh</li>
					<li class="p-2" data-value="vi">Tiếng Việt</li>
				</ul>

				<div id="google_translate_element" class="position-absolute"
					 style="top: -10000%; z-index: -10000"></div>
			</div>

			<!-- Login -->
			<div class="login d-flex align-items-center">
				<a href="#" class="h-100">
					<button class="nav_btn_option">
						<i class="fa fa-user color-tree"></i>
						<span class="ml-7">Quản trị viên</span>
					</button>
				</a>
			</div>
		</div>
	</div>

	<div id="search_form_user" class="search-form d-none">
		<div class="container py-3">
			<div class="options d-flex justify-content-center gap-2">
				<button class="m-0 btn_search_keyword btn-option fw-bold active">Nhanh</button>
				<button class="m-0 btn_search_advance btn-option fw-bold">Lọc</button>
			</div>

			<div class="search_frame mt-2">
				<div class="result_search search_keyword pt-2">
					<form action="" method="get" class="d-flex flex-column align-items-center gap-2 p-2 border ">
						<label for="">Nhập từ khoá <small class="text-danger">(*)</small></label>
						<input type="search" name="search" id="search" class="green_effect input_search" placeholder="Tìm với...">
						<button>Tìm kiếm</button>
					</form>
				</div>

				<div class="result_search search_advance pt-2 w-100 d-none">
					<form action="" method="get" class="d-flex flex-column align-items-center gap-2">
						<div class="w-100 border p-2">
							<label class="fs-16 mb-2">Loài</label>
							<div class="wrapper">
								<select name="" class="my-1 w-100 green_effect">
									<option selected value="">Cây</option>
									<option value="">Ráng Đại</option>
								</select>
							</div>
						</div>

						<div class="w-100 border  p-2">
							<label class="fs-16 mb-2">Thời gian</label>
							<div class="wrapper d-flex justify-content-between flex-wrap">
								<select name="year" class="_years selected-custom green_effect" onchange="setupDay()">
									<option selected value="">Năm</option>
									<option value="2025">2025</option>
									<option value="2024">2024</option>
								</select>

								<select name="month" class="_months selected-custom green_effect" onchange="setupDay()">
									<option selected value="">Tháng</option>
									<option value="12">Tháng 12</option>
									<option value="11">Tháng 11</option>
									<option value="10">Tháng 10</option>
									<option value="9">Tháng 9</option>
									<option value="8">Tháng 8</option>
									<option value="7">Tháng 7</option>
									<option value="6">Tháng 6</option>
									<option value="5">Tháng 5</option>
									<option value="4">Tháng 4</option>
									<option value="3">Tháng 3</option>
									<option value="2">Tháng 2</option>
									<option value="1">Tháng 1</option>
								</select>

								<select name="day" class="_days selected-custom green_effect">
									<option selected value="" class="select_default">Ngày</option>
								</select>
							</div>
						</div>

						<button>Tìm kiếm</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Màn che khi nhấn tìm kiếm -->
<div id="background" class="d-none"></div>