

<footer id="user_footer" class="footer-area bg-img" style="background-image: url('img/bg-img/bg-footer.jpg');">
    <div class="main-footer-area">
        <div class="container">
            <div class="row">
                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-logo mb-30">
                            <a href="#"><img src="img/core-img/logo.png" alt=""></a>
                        </div>
                        <p>
                            Website cung cấp các thông tin chi tiết, liên quan đến các loài cây ngập mặn ở phía Bắc
                            - Khánh
                            Hoà.
                        </p>
                        <div class="social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>LIÊN HỆ</h5>
                        </div>

                        <div class="contact-information">
                            <p><span>Địa chỉ:</span> 02 Nguyễn Đình Chiểu, Vĩnh Thọ, Nha Trang, Khánh Hoà</p>
                            <p><span>Điện thoại:</span>+84 398 090 114</p>
                            <p><span>Email:</span> anhquan300503@gmail.com</p>
                            <p><span>Mở cửa:</span> Thứ 2 - Thứ 6: 07:00 - 17h30</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom Area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
                <!-- Copywrite Text -->
                <div class="col-12">
                    <div class="copywrite-text">
                        <p>&copy;
                            <script>document.write(new Date().getFullYear());</script>
                            Bản quyền thuộc trường Đại học Nha Trang
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>