@model PaginateModel<TblDistributiton>
@{
	string pv = Helper.Path.partialView;
}

<div class="form_paginate">

	<!-- Search, Select and Buttons -->
	@await Html.PartialAsync($"{pv}/Both_PaginateNav.cshtml", Model.InfomationPaginate)

	<!-- Data -->
	@await Html.PartialAsync($"{pv}/{Model.InfomationPaginate.NameTable}.cshtml", Model)
</div>