@inject IStringLocalizer<Translate> translate
@{
	var isEN = Helper.Func.IsEnglish();
	ViewData["Title"] = ViewData["InfoPage"] = translate["label_thong_ke"];
	ViewData["TypePage"] = "Page_Statistical";

	Layout = Helper.Path.layoutAdmin;
}

<section class="container">
</section>