a,
a:hover {
    color: white;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.toggle_hidden_show {
    opacity: 1 !important;
    height: auto !important;
}

.object-fit-cover {
    object-fit: cover;
}

.outline-none {
    outline: none;
}

.selected-custom {
    padding: 7.5px 15px;
    border: none;
    outline-color: #70c745;
    width: 49% !important;
    margin: 3px 0;
}

.fs-16 {
    font-size: 16px;
}

.line_space {
    height: 1px;
    border: solid 1px #ccc;
}

.cursor-pointer {
    cursor: pointer;
}

.color-tree {
    color: #70c745;
}

.ml-7 {
    margin-left: 7px !important;
}

.border-none {
    border: none !important;
}

.border-line {
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
    margin-top: 50px;
}