@inject IStringLocalizer<Translate> translate
@model PaginateModel<TblMangrove>
@{
	var isEN = Helper.Func.IsLanguage("en");
	ViewData["Title"] = translate["label_thanh_phan_loai"];
	ViewData["InfoPage"] = translate["label_them_cay_moi"];
	ViewData["TypePage"] = "Page_Mangrove";

	Layout = Helper.Path.layoutAdmin;
	string pv = Helper.Path.partialView;
}

<section class="mod-add-mangrove">
	<div class="container py-2">
		<div class="border_">
			<p class="text-center">Slide</p>
			<div class="add_item d-flex flex-wrap gap-1 gap-lg-0">
				<div class="add_img col-12 col-lg-6 add_img_height rounded-1 p-3">
					<div class="preview_img h-100 position-relative">
						<img class="h-100 object-fit-cover mx-auto d-block rounded-1 click_show_image"
							 src="/img/tree-img/00000000-AAAA-AAAA-AAAA-AAAAAAAAP006.jpg"
							 alt="" />

						<button class="btn_remove_preview_img"
								type="button">
							<i class="fa-solid fa-xmark"></i>
						</button>
					</div>
				</div>

				<div class="add_content col-12 col-lg-6 d-lg-flex flex-lg-wrap align-items-lg-center px-lg-3">
					<div class="add_content_item mt-1 col-12">
						<small class="mb-1 d-block">Tiếng Anh</small>
						<input class="w-100 border-none green_effect px-2 py-1 rounded-1" type="text" name="" value="" />
					</div>

					<div class="add_content_item mt-1 col-12">
						<small class="mb-1 d-block">Tiếng Việt</small>
						<input class="w-100 border-none green_effect px-2 py-1 rounded-1" type="text" name="" value="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>