@inject IStringLocalizer<Translate> translate
@model PaginateModel<TblMangrove>
@{
	var isEN = Helper.Func.IsLanguage("en");
	ViewData["Title"] = translate["label_thanh_phan_loai"];
	ViewData["InfoPage"] = isEN ? "Mangrove list" : "Danh sách cây ngập mặn";
	ViewData["TypePage"] = "Page_Mangrove";

	Layout = Helper.Path.layoutAdmin;
	string pv = Helper.Path.partialView;
}

<section class="mod_list_species_composition have_paginate">
	<div class="container-fluid py-2">
		@await Html.PartialAsync($"{pv}/Both_Paginate.cshtml", Model)
	</div>
</section>

