@inject IStringLocalizer<Translate> translate
@{
	string status = TempData[Helper.Key.status]?.ToString() ?? Helper.SetupNotifier.fail;
	string content = TempData[Helper.Key.content]?.ToString() ?? "";
	string bgColor = status == Helper.SetupNotifier.fail ? "bg-danger" : "bg-tree";
	int timer = TempData[Helper.Key.timer] != null ? Convert.ToInt32(TempData[Helper.Key.timer]) : Helper.SetupNotifier.longTime;

	if (!string.IsNullOrEmpty(content))
	{
		TempData.Remove(Helper.Key.content);

		<div id="dynamic_notifier" class="w-100 position-fixed bg-transparent" style="top: 0; z-index: 100;" title="@translate["label_click_cancel"]">
			<div class="container cursor-pointer">
				<div class="frame @bgColor text-white text-center py-2 fw-bold position-relative rounded-1 overflow-hidden">
					<p>@content</p>
					<div class="frame_time">
						<div class="nav_time rounded-1"></div>
					</div>																		   
				</div>
			</div>
		</div>

		<style>
			#dynamic_notifier .nav_time {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: black;
				animation: count_time @($"{timer}ms") linear forwards;
			}
		</style>

		<script>
			window.addEventListener("load", function () {
				const dynamicNotifier = document.querySelector("#dynamic_notifier");
				const timer = @timer * 1;

				if (dynamicNotifier) {
					setTimeout(() => {
						dynamicNotifier.classList.add("d-none");
					}, timer);

					dynamicNotifier.addEventListener("click", function() {
						this.classList.add("d-none");
					});
				}
			});
		</script>
	}
}

