<div id="click_show_image" class="d-none">
	<div class="overview_img h-100 w-100">
		<div class="container h-100 d-flex flex-column">
			<div class="box_show_img">
				<img class="img" src="/img/tree-img/00000000-AAAA-AAAA-AAAA-AAAAAAAAP013.jpg" />
			</div>

			<button class="btnShowImgCancel text-danger">
				<i class="fa-solid fa-xmark"></i>
			</button>
		</div>
	</div>
</div>