.btn_auth {
	border: none;
	outline: none;
	min-width: 100px;
	padding: 10px 20px;
	background-color: var(--greenPage);
	color: white;
	border-radius: 5px;
	transition: all 0.5s;
}

.btn_auth:hover {
	background-color: black;
}
