/* Font Oswald */
@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700,800");

body {
    font-family: 'Oswald', sans-serif;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    color: var(--colorBody);
    background-color: var(--backgroundBody);
}