.mod_list_species_composition .nav_btn {
	min-width: 120px;
	padding: 7.5px 10px;
}

.mod_list_species_composition .btn_new_item {
	background-color: var(--greenPage);
	color: white;
}

.mod_list_species_composition .btn_new_item:hover {
	outline: solid 1px var(--greenPage);
	background-color: transparent;
	color: black;
}