:root {
	--size_btn_remove_preview_img: 40px;
}

.btn_remove_item,
.btn_remove_preview_img {
	position: absolute;
	right: 10px;
	border: none;
	height: var(--size_btn_remove_preview_img);
	width: var(--size_btn_remove_preview_img);
}

.btn_remove_preview_img {
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
}

.btn_remove_item {
	top: 0;
	border-radius: 0.2rem;
	color: red;
}

.btn_remove_preview_img:hover {
	color: red;
}

@media (width <= 1200px) {
	:root {
		--size_btn_remove_preview_img: 30px;
	}
	.add_img_height {
		height: 200px;
	}
}
