:root {
	--size_btn_remove_preview_img: 40px;
}

.btn_remove_item,
.btn_remove_preview_img {
	position: absolute;
	border: none;
	height: var(--size_btn_remove_preview_img);
	width: var(--size_btn_remove_preview_img);
}

.btn_remove_preview_img {
	border-radius: 50%;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
}

.btn_remove_item {
	top: 0;
	right: 0;
	border-radius: 0.2rem;
	color: red;
}

.btn_remove_preview_img:hover {
	color: red;
}

.img_max_height {
	max-height: 300px;
}

.min_height_input_img {
	min-height: 150px;
}

@media (width <= 1200px) {
	:root {
		--size_btn_remove_preview_img: 30px;
	}
	
	.img_max_height {
		max-height: 200px;
	}
}
