.right-0 {
    right: 0 !important;
    position: absolute !important
}

#header {
    position: relative;
    z-index: 10;
}

#header .logo {
    height: var(--size_logo);
    width: var(--size_logo);
}

.dropdown-toggle::after {
    position: absolute;
    top: 50%;
}

.dropdown_toggle {
    position: relative;
    border: none;
    padding: 0;
    color: inherit;
    font-weight: bold;
    background-color: transparent;
}

#header .dropdown_list {
    position: absolute;
    top: 30px;
    right: 0;
    width: max-content;
    min-width: 100%;
    background-color: white;
    color: var(--colorBody);
    z-index: 11;
    padding: 10px 0;
    display: none;
}

#header .dropdown_list .downdown_item:hover {
    background-color: var(--greenPage);
    color: white;
}

.green_effect {
    outline: none;
}

.green_effect:hover {
    outline: solid 1px var(--greenPage);
}

@media (width <=1200px) {
    .actions .left h5 {
        font-size: 20px;
    }

    .actions .right .list_menu {
        background-color: white;
        transition: all 0.5s;
        z-index: 10;
        position: fixed;
        max-width: 300px !important;
        right: -100%;
        padding: 10px 0;
        overflow-y: scroll;
    }

    #background {
        position: fixed;
        content: "";
        left: 0;
        width: 100%;
        width: 0;
        z-index: 9;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .actions .right .list_menu,
    #background {
        top: 86px;
        height: calc(100vh - 86px) !important
    }

    .actions .right .list_menu .item {
        padding: 10px 15px;
        border-top: solid 1px #f5f5f5;
    }

    .mobile_border_bottom {
        border-bottom: solid 1px #f5f5f5;
    }

    .dropdown_toggle .downdown_item {
        padding: 7.5px 15px;
    }

    .actions .right .list_menu li a {
        width: 100%;
        display: block;
    }

    .actions .right .list_menu li i {
        width: 40px;
    }

    #header .dropdown_list {
        position: unset;
        margin: 0;
        background-color: #efefef;
    }

    @media (width >= 576px) {
        #background,
        .actions .right .list_menu {
            top: 60px;
            height: calc(100vh - 60px) !important
        }
    }
}

@media (width > 1200px) {
    :root {
        --size_logo: 70px;
    }

    .list_menu .list_item > li {
        position: relative;
    }

    .active_underline {
        color: var(--greenPage);
    }

    .active_underline::after,
    .list_menu .list_item > li::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: var(--greenPage);
        width: 0;
        transition: all 0.5s;
    }

    .active_underline::after {
        width: 100% !important;
    }

    .list_menu .list_item > li:hover::after {
        width: 100%;
    }

    .dropdown_menu:hover > .dropdown_list {
        display: block !important;
    }

    .dropdown_level_2:hover {
        background-color: var(--greenPage);
        color: white;
    }

    #header .dropdown_list {
        min-width: 150px;
    }
}