.right-0 {
    right: 0 !important;
    position: absolute !important
}

#header {
    position: relative;
    z-index: 10;
}

    #header .logo {
        height: var(--size_logo);
        width: var(--size_logo);
    }

select,
select option {
    padding: 7.5px 10px;
    border: none;
}

.dropdown-toggle {
    position: relative;
}

    .dropdown-toggle::after {
        position: absolute;
        top: 50%;
    }

.btn_language {
    border: none;
    padding: 0;
    color: inherit;
    font-weight: bold;
    background-color: transparent;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

    .btn_language:hover {
        color: var(--greenPage);
    }

#header .language_dropdown {
    position: absolute;
    top: 60px;
    left: 0;
    width: max-content;
    min-width: 100%;
    background-color: white;
    color: inherit;
    z-index: 10;
}

    #header .language_dropdown .downdown_item:hover {
        background-color: var(--greenPage);
        color: white;
    }

.green_effect {
    outline: none;
}

    .green_effect:hover {
        outline: solid 1px var(--greenPage);
    }

@media (width <=992px) {
    .actions .left h5 {
        font-size: 20px;
    }

    .actions .right .list_menu {
        background-color: white;
        transition: all 0.5s;
        z-index: -1;
        position: fixed;
        max-width: 300px !important;
        top: 80px;
        right: -100%;
        padding: 10px;
        /*		height: 100vh !important;*/
        height: max-content !important;
    }

        .actions .right .list_menu li,
        .language_dropdown .downdown_item {
            padding: 7.5px 15px;
            border: solid 1px #ccc;
        }

            .actions .right .list_menu li a {
                width: 100%;
                display: block;
            }

            .actions .right .list_menu li i {
                width: 50px;
            }

    #header .language_dropdown {
        position: unset;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: transparent;
    }

        #header .language_dropdown .downdown_item {
            background-color: white;
        }
}

@media (width >= 576px) {
    .actions .right .list_menu {
        top: 60px;
    }
}

@media (width > 992px) {
    :root {
        --size_logo: 70px;
    }

    .list_menu .list_item > li {
        position: relative;
    }

    .active_underline {
        color: var(--greenPage);
    }

        .active_underline::after,
        .list_menu .list_item > li::after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: var(--greenPage);
            width: 0;
            transition: all 0.5s;
        }

        .active_underline::after {
            width: 100% !important;
        }

    .list_menu .list_item > li:hover::after {
        width: 100%;
    }
}
