.select_ex_co {
	border: none;
	width: 120px;
	color: var(--colorBody)
}

.select_ex_co:hover {
	color: black;
}

.btn_back {
	padding: 7.5px 15px;
	background-color: white;
	color: inherit;
	border: none;
}

.btn_back:hover {
	outline: solid 1px var(--greenPage);
	color: black;
}

.btn_back:hover i {
	animation: _back 1s linear alternate infinite;
}

@keyframes _back {
	50% {
		transform: translateX(-5px);
	}

	0%,
	100% {
		transform: translateX(0);
	}
}