#header .logo {
	height: var(--size_logo);
	width: var(--size_logo);
}

#search_form_user {
	position: fixed;
	width: 100%;
	top: 60px;
	left: 50%;
	z-index: 10;
	transform: translateX(-50%);
	background-color: #f8f9fa;
	border-radius: 5px;
}

#search_form_user .options .btn-option {
	border: solid 1px var(--greenPage);
	outline: black;
	padding: 5px 10px;
	min-width: min(50%, 150px);
	margin-bottom: 10px;
	transition: all 0.4s;
}

#search_form_user .options .btn-option:not(.active):hover,
#search_form_user .options .btn-option.active {
	background-color: var(--greenPage);
	color: white;
}

#search_form_user .search_frame .search_keyword form {
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
	border-radius: 5px;
	width: 100%;
}

#search_form_user .search_frame .search_keyword form .input_search {
	padding: 7.5px 15px;
	width: 100%;
	border-radius: 5px;
	background-color: white;
	border: none;
}

#search_form_user .search_frame .search_keyword form label {
	align-self: self-start;
}

#search_form_user .search_frame .search_advance form button,
#search_form_user .search_frame .search_keyword form button {
	outline: none;
	padding: 7.5px 15px;
	min-width: 125px;
	display: inline-block;
	border: solid 1px var(--greenPage);
	background-color: var(--greenPage);
	color: white;
	font-weight: bold;
	transition: all 0.4s;
	margin-top: 10px;
}

#search_form_user .search_frame .search_keyword form button:hover,
#search_form_user .search_frame .search_advance form button:hover {
	background-color: transparent;
	color: black;
}

.goog-te-banner-frame,
iframe.skiptranslate {
	display: none !important;
}

#google_translate_element {
	overflow: hidden;
	border: none !important;
	width: 100px !important;
}

#google_translate_element select {
	display: block !important;
	visibility: visible !important;
	pointer-events: auto !important;
}

#goog-gt-tt {
	display: none !important;
}

select,
select option {
	padding: 7.5px 10px;
	border: none;
}

.dropdown-toggle {
	position: relative;
}

.dropdown-toggle::after {
	position: absolute;
	top: 50%;
}

.nav_btn_option {
	border: none;
	padding: 0;
	height: 100%;
	color: inherit;
	font-weight: bold;
	background-color: transparent;
	-webkit-transition-duration: 500ms;
	transition-duration: 500ms;
}

.nav_btn_option:hover {
	color: var(--greenPage);
}

#header .language_dropdown {
	position: absolute;
	top: 60px;
	left: 0;
	width: max-content;
	min-width: 100%;
	background-color: white;
	color: black;
	z-index: 11;
	background-color: var(--greenPage);
	color: white;
}

#header .language_dropdown li:hover {
	background-color: black;
}

.green_effect {
	outline: none;
}

.green_effect:hover {
	outline: solid 1px var(--greenPage);
}

.selected-custom {
	width: 49% !important;
	margin: 5px 0;
}

#background {
	position: absolute;
	content: "";
	inset: 0;
	background-color: black;
	opacity: 0.6;
	z-index: 9;
}

@media (width <=576px) {
	.actions .left h5 {
		font-size: 20px;
	}

	.nav_btn_option {
		min-width: 40px;
	}

	.hidden_mobile {
		display: none;
	}

	.actions .right .list_menu {
		background-color: var(--backgroundBody);
		transition: all 0.5s;
		color: black;
		z-index: 11;
		position: absolute;
		width: 100% !important;
		top: 80px;
		left: 100%;
		height: calc(100vh - 80px) !important;
		padding: 10px;
	}

	.actions .right .list_menu li {
		padding: 7.5px 15px;
		border: solid 1px #ccc;
	}

	.actions .right .list_menu li i {
		width: 50px;
	}
}

@media (width >=576px) {
	#search_form_user {
		width: 50%;
	}
}