.space_word {
	display: inline-block;
	width: 100px;
}

.height_responsive {
	height: 300px !important;
}

@media (width >=1024px) {
	.height_responsive {
		height: 400px !important;
	}
}

.info {
	transition: all 0.4s linear;
	overflow: hidden;
	max-height: 1000px;
}

.box_collapse {
	max-height: 0 !important;
}

.mangrove_result .box .toggle_title {
	cursor: pointer;
}

.form_input {
	width: 500px;
}

.hidden_mobile {
	display: none !important;
}

.list_individuals {
	min-height: 0;
	max-height: 600px;
	overflow: hidden;
	overflow-y: auto;
}

.frame_qr {
	overflow: hidden;
	height: 0;
	transition: all 0.3s ease-in-out;
}

.height-222 {
	height: 222px !important;
}