.space_word {
	display: inline-block;
	width: 100px;
}

.height_responsive {
	max-height: 300px !important;
}

@media (width >= 1024px) {
	.height_responsive {
		max-height: 500px !important;
	}
}

.info {
	transition: all 0.4s;

	overflow: hidden;
	max-height: 1000px;
}

.box_collapse {
	max-height: 0 !important;
}

.mangrove_result .box .toggle_title {
	cursor: pointer;
}