.slick_slider {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.slick_slider .slides {
	display: flex;
	height: 100%;
}

.slick_slider .slides .slide_item {
	min-width: 100%;
	text-align: center;
	overflow: hidden;
}

.slick_slider .slides .slide_item,
.slick_slider .slides .slide_item img {
	height: 100%;
	object-fit: cover;
}

.slick_slider button {
	position: absolute;
	top: 50%;
	height: 70px;
	transform: translateY(-50%);
	background-color: var(--greenPage);
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: all 0.5s;
}

.slick_slider button:hover {
	background-color: black;
	outline: solid 1px white;
}

.slick_slider button.disabled {
	display: none;
}

.btn_prev {
	left: 10px;
}

.btn_next {
	right: 10px;
}

@media (width <=576px) {
	.slick_slider button {
		height: 40px;
	}
}