.module_species_composition {
    .list_mangrove {
        overflow-y: scroll;
        max-height: 65vh;
    }

    .item_mangrove {
        border: dashed 2px #ccc;
        background-color: white;
    }

    .item_mangrove:hover,
    .item_mangrove:focus {
        box-shadow: 0 10px 10px #ccc;
        /* border: solid 2px !important; */
        border-style: solid;
    }

    .item_mangrove:hover .name,
    .item_mangrove:focus .name {
        color: var(--greenPage);
    }

    .item_mangrove .content {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

@media (width <=576px) {
    .module_species_composition .item_mangrove h5 {
        font-size: 20px;
    }
}