.module_species_composition {
    .list_mangrove {
        overflow-y: scroll;
        max-height: 65vh;
    }

    .item_mangrove:hover,
    .item_mangrove:focus {
        color: var(--greenPage);
    }

    .item_mangrove .content {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

@media (width <=576px) {
    .module_species_composition .item_mangrove h5 {
        font-size: 20px;
    }
}