.module_species_composition .item_mangrove {
	border: dashed 2px #ccc;
	background-color: white;
}

.module_species_composition .item_mangrove:hover {
	box-shadow: 0 10px 10px #ccc;
	border-style: solid;
}

.module_species_composition .item_mangrove:hover .name {
	color: var(--greenPage);
}

.module_species_composition .item_mangrove .content {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@media (width <=576px) {
	.module_species_composition .item_mangrove h5 {
		font-size: 20px;
	}
}
