@{
	string com = Helper.Path.components;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Social Share-->
	<meta property="og:title" content="Mangrove - NTU: Tìm kiếm thông tin cây ngập mặn." />
	<meta property="og:description"
		content="Website hỗ trợ tìm kiếm các thông tin về cây ngập mặn ở phía Bắc - Khánh Hoà." />
	<meta property="og:image" content="https://mangrove.runasp.net/img/core-img/leaf.png" />
	<meta property="og:url" content="https://mangrove.runasp.net/" />
	<meta property="og:type" content="website" />
	<meta property="og:locale" content="vi_VN" />
	<meta property="og:site_name" content="Mangrove - NTU: Tìm kiếm thông tin cây ngập mặn." />

	<!-- Title page + Icon -->
	<title>@ViewData["Title"] | Đại học Nha Trang</title>
	<link rel="icon" href="~/img/core-img/favicon.ico">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

	<script src="~/js/jquery/jquery-2.2.4.min.js"></script>
	<script src="~/js/bootstrap/popper.min.js"></script>
	<script src="~/js/bootstrap/bootstrap.min.js"></script>
	<script src="~/js/plugins/plugins.js"></script>

	<!-- Js wait DOM-->
	<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" defer></script>
	<script defer>
		// Khởi tạo Init cho Google Translate
		function googleTranslateElementInit() {
			new google.translate.TranslateElement({ pageLanguage: 'vi' }, 'google_translate_element');
		}
	</script>

	<!-- Js Custom-->
	<script src="~/js/active_from_template.js" defer></script>
	<script src="~/js/site.js" defer></script>




	<!-- jQuery gốc của ASP -->
	@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
	@* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
</head>

<body>
	<!-- Preload -->
	@await Html.PartialAsync(com + "/Both_ImageWhileLoad.cshtml")

	<!-- Header -->
	@await Html.PartialAsync(com + "/User_Header.cshtml")

	<!-- Body-->
	@RenderBody()

	<!-- Footer-->
	@await Html.PartialAsync(com + "/User_Footer.cshtml")

	<!-- Button: Scroll up-->
	<a id="scrollUp" href="#header">
		<i class="fa fa-angle-up"></i>
	</a>

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
