@inject SettingWebsiteController settingWebsite
@inject IStringLocalizer<Translate> translate
@{
	var setting = await settingWebsite.GetSetting();
	string _pvl = Helper.Path.partialViewLayout;
}

<!DOCTYPE html>
<html lang="en">

<head>
	@await Html.PartialAsync(_pvl + "/_ImportHeader.cshtml", setting)

	<!-- Add CSS custom-->
	<link rel="stylesheet" href="~/css/user_site.css" />

	<!-- Js custom-->
	<script src="~/js/both_site.js" defer></script>
</head>

<body>
	<!-- Preload -->
	@await Html.PartialAsync(_pvl + "/_Both_Preloader.cshtml", setting)

	<!-- Show/zoom Image -->
	@await Html.PartialAsync(_pvl + "/_Both_ClickShowImage.cshtml")
	
	<!-- Show QR code -->
	@await Html.PartialAsync(_pvl + "/_User_ShowQRCode.cshtml")

	<!-- Header -->
	@await Html.PartialAsync(_pvl + "/_User_Header.cshtml", setting)

	<!-- Body-->
	<main style="min-height: 70vh;">
		@RenderBody()
	</main>

	<!-- Footer-->
	@await Html.PartialAsync(_pvl + "/_User_Footer.cshtml")

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
