@inject SettingWebsiteController settingWebsite
@inject IStringLocalizer<Translate> translate
@{
    var setting = await settingWebsite.GetSetting();
    string _pvl = Helper.Path.partialViewLayout;


}

<!DOCTYPE html>
<html lang="en">

<head>
    @await Html.PartialAsync($"{_pvl}/_ImportHeader.cshtml", setting)

	<!-- Add CSS custom-->
    <link rel="stylesheet" href="~/css/admin_site.css" />

    <!-- Js template + custom-->
    <script src="~/js/both_site.js" defer></script>
    @* <script src="~/js/admin_site.js" defer></script> *@
</head>

<body>
    <!-- Preload -->
    @await Html.PartialAsync($"{_pvl}/_Both_Preloader.cshtml", setting)

    <!-- Dynamic Nofifier -->
    @await Html.PartialAsync($"{_pvl}/_Both_DynamicNotifier.cshtml")

    <!-- Header -->
    @await Html.PartialAsync($"{_pvl}/_Admin_Header.cshtml", setting)

    <!-- Note page -->
    <section class="mod_show_display_working container-fuild bg-black text-white text-center">
        <h6 class="py-2">@ViewData["NotePage"]</h6>
    </section>

    <!-- Body-->
    <main style="min-height: 90vh;">
        @RenderBody()
    </main>

    <!-- Footer-->
    @await Html.PartialAsync($"{_pvl}/_Admin_Footer.cshtml", setting)

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
