@{
	string _pvl = Helper.Path.partialViewLayout;
}

<!DOCTYPE html>
<html lang="vi">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=5.0, minimum-scale=1.0">

	<!-- Social Share-->
	<meta property="og:title" content="Mangrove - NTU: Tìm kiếm thông tin cây ngập mặn." />
	<meta property="og:description"
		content="Website hỗ trợ tìm kiếm các thông tin về cây ngập mặn ở phía Bắc - Khánh Hoà." />
	<meta property="og:image" content="https://mangrove.runasp.net/img/logo/logo.png" />
	<meta property="og:url" content="https://mangrove.runasp.net/" />
	<meta property="og:type" content="website" />
	<meta property="og:locale" content="vi_VN" />
	<meta property="og:site_name" content="Mangrove - NTU: Tìm kiếm thông tin cây ngập mặn." />

	<!-- Title page + Favicon page -->
	<title>@ViewData["Title"] | Cây ngập mặn | Đại học Nha Trang</title>
	<link rel="icon" href="~/img/logo/logo.png">

	<!-- Import CSS + Icon <i> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/css/user_site.css" asp-append-version="true" />

	<!-- Import library Js -->
	<script src="~/js/jquery/jquery-2.2.4.min.js"></script>

	<!-- Js wait DOM-->
	<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" defer></script>
	<script defer>
		// Khởi tạo Init cho Google Translate
		function googleTranslateElementInit() {
			new google.translate.TranslateElement({ pageLanguage: 'vi' }, 'google_translate_element');
		}
	</script>

	<!-- Js template + custom-->
	<script src="~/js/both_site.js" defer></script>




	<!------------------------------------>
	<!-- jQuery gốc của ASP -->
	@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
	@* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
</head>

<body>
	<!-- Preload -->
	@await Html.PartialAsync(_pvl + "/_Both_Preloader.cshtml")
	@await Html.PartialAsync(_pvl + "/_Both_ClickShowImage.cshtml")

	<!-- Header -->
	@await Html.PartialAsync(_pvl + "/_User_Header.cshtml")
	@* @await Html.PartialAsync(_pvl + "/_Both_Notifier.cshtml") *@

	<!-- Body-->
	<main style="min-height: 70vh;">
		@RenderBody()
	</main>

	<!-- Footer-->
	@await Html.PartialAsync(_pvl + "/_User_Footer.cshtml")

	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
