@{
	ViewData["Title"] = "Password Admin";
	Layout = null;
}

<p>Username admin: @ViewData["UsernameAdmin"]</p>
<p>Email admin: @ViewData["EmailAdmin"]</p>
<p>Password admin: @ViewData["PasswordAdmin"]</p>