@using Mangrove.Data
@model InfoStagesOfIndividualModel
@{
    ViewData["Title"] = "Phân bố";
    Layout = Helper.Path.layoutUser;
    string _pv = Helper.Path.partialView;
}

<section class="individual_display container py-2">
    <h1>Đang trong quá trình xây dựng</h1>
</section>
