@{
	ViewData["Title"] = "Cây Ngập Mặn";
	Layout = Helper.Path.layoutUser;
	string _com = Helper.Path._components;
}

@* @await Html.PartialAsync(_com + "/HeroSlider.cshtml") *@

<section style="height: 500px;"></section>
