@inject IStringLocalizer<Translate> translate
@model List<SearchMangroe_Client_VM>

@{
	ViewData["Title"] = ViewData["InfoPage"] = translate["label_thanh_phan_loai"];
	ViewData["TypePage"] = "Page_SpeciesComposition";

	Layout = Helper.Path.layoutUser;
	string _pv = Helper.Path.partialView;

	var BackPage = new BackPage_Client_VM(Helper.Key.clientToPageSeachMangrove, null);
}

@await Html.PartialAsync($"{_pv}/User_Back.cshtml", BackPage)

<section class="module_species_composition container text-center py-2">
	<div class="box bg-white rounded-1">
		<div class="toggle_title cursor-pointer text-center">
			<h5 class="py-2 bg-black text-white rounded-1">@translate["label_tim"]</h5>
		</div>

		<div class="info list_mangrove_info bg-white">
			<div class="p-2 pt-0">
				<div class="form_search bg-white">
					<div class="search pt-3 d-flex flex-column align-items-center justify-content-center position-sticky bg-white" style="top: 0px; z-index: 4;">
						<div class="width_input border green_effect d-flex h-100 align-items-center justify-content-center gap-1 px-2 rounded-1 overflow-hidden">
							<i id="icon-s" class="fa fa-search"></i>
							<i id="icon-w" class="fa-solid fa-spinner wait_load d-none"></i>
							<input class="p-2 border-none flex-grow-1 outline-none" type="search" id="search_mangrove"
								   placeholder="@translate["label_SpeciesComposition_search"] @Model.Count @translate["label_SpeciesComposition_loai"]...">
						</div>

						<div class="bg-black my-3 w-100" style="height: 3px;"></div>
					</div>

					<div class="list_mangrove pb-1 pt-2 px-2">
						@await Html.PartialAsync($"{_pv}/User_ListMangrove.cshtml", Model)
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@await Html.PartialAsync($"{_pv}/User_Back.cshtml", BackPage)
