@inject IStringLocalizer<Translate> translate
@model List<TblDistributiton>
@{
	bool isEN = Helper.Func.IsLanguage("en");
	ViewData["Title"] = translate["label_phan_bo"];
	ViewData["InfoPage"] = translate["label_ban_do_phan_bo"];
	ViewData["TypePage"] = "Page_Distribution";

	Layout = Helper.Path.layoutUser;
	string _pv = Helper.Path.partialView;
}

@await Html.PartialAsync($"{_pv}/User_Back.cshtml", (long?)null)

<section class="distribution_maps">
	<div class="container py-2">
		@{
			int i = 1;
			foreach (var item in Model)
			{
				<div class="box rounded-1 bg-white mb-2">
					<div class="toggle_title mb-2 cursor-pointer position-sticky top-0" style="z-index: 2;">
						<h6 class="p-2 bg-black text-white rounded-1">@translate["label_ban_do"] @(i++)</h6>
					</div>

					<div class="info max-h-content min-height-lazy">
						<img class="map-img w-100 click_show_image lazy-load"
							 data-src="/img/distribution-map-img/@item.ImageMap"
							 alt="" />
						<p class="text-center pb-2 px-2 fw-bold">@(isEN ? item.MapNameEn : item.MapNameVi)</p>
					</div>
				</div>
			}
		}
	</div>
</section>

@await Html.PartialAsync($"{_pv}/User_Back.cshtml", (long?)null)