@{
    ViewData["Title"] = "Tìm kiếm";
    Layout = Helper.Path.layoutUser;
}

<section class="container text-center">
    <h1>Trang này đang trong quá trình xây dựng</h1>
</section>

<div id="search_form_user" class="search-form d-none">
    <div class="container py-3">
        <div class="options d-flex justify-content-center gap-2">
            <button class="m-0 btn_search_keyword btn-option fw-bold active">Nhanh</button>
            <button class="m-0 btn_search_advance btn-option fw-bold">Lọc</button>
        </div>

        <div class="search_frame mt-2">
            <div class="result_search search_keyword pt-2">
                <form action="" method="get" class="d-flex flex-column align-items-center gap-2 p-2 ">
                    <label for="">Nhập từ khoá <small class="text-danger">(*)</small></label>
                    <input type="search" name="search" id="search" class="green_effect input_search"
                        placeholder="Tìm với..." autofocus>
                    <button>Tìm kiếm</button>
                </form>
            </div>

            <div class="result_search search_advance pt-2 w-100 d-none">
                <form action="" method="get" class="d-flex flex-column align-items-center gap-2">
                    <div class="w-100 p-2">
                        <label class="fs-16 mb-2">Loài</label>
                        <div class="wrapper">
                            <select name="" class="my-1 w-100 green_effect">
                                <option selected value="">Cây</option>
                                <option value="">Ráng Đại</option>
                            </select>
                        </div>
                    </div>

                    <div class="w-100  p-2">
                        <label class="fs-16 mb-2">Thời gian</label>
                        <div class="wrapper d-flex justify-content-between flex-wrap">
                            <select name="year" class="_years selected-custom green_effect" onchange="setupDay()">
                                <option selected value="">Năm</option>
                                <option value="2025">2025</option>
                                <option value="2024">2024</option>
                            </select>

                            <select name="month" class="_months selected-custom green_effect" onchange="setupDay()">
                                <option selected value="">Tháng</option>
                                <option value="12">Tháng 12</option>
                                <option value="11">Tháng 11</option>
                                <option value="10">Tháng 10</option>
                                <option value="9">Tháng 9</option>
                                <option value="8">Tháng 8</option>
                                <option value="7">Tháng 7</option>
                                <option value="6">Tháng 6</option>
                                <option value="5">Tháng 5</option>
                                <option value="4">Tháng 4</option>
                                <option value="3">Tháng 3</option>
                                <option value="2">Tháng 2</option>
                                <option value="1">Tháng 1</option>
                            </select>

                            <select name="day" class="_days selected-custom green_effect">
                                <option selected value="" class="select_default">Ngày</option>
                            </select>
                        </div>
                    </div>

                    <button>Tìm kiếm</button>
                </form>
            </div>
        </div>
    </div>
</div>