@inject IStringLocalizer<Translate> translate
@model PaginateModel<TblDistributiton>
@{
	var isEN = Helper.Func.IsLanguage("en");
	ViewData["Title"] = translate["label_phan_bo"];
	ViewData["InfoPage"] = translate["label_danh_sach_ban_do_phan_bo"];
	ViewData["TypePage"] = "Page_Distribution";

	Layout = Helper.Path.layoutAdmin;
	string pv = Helper.Path.partialView;
}

<section class="ditribution_map_list have_paginate">
	<div class="container-fluid py-2">
		@await Html.PartialAsync($"{pv}/Both_Paginate_Distribution.cshtml", Model)
	</div>
</section>

